@import url("//fonts.googleapis.com/css?family=Lato:300,400,700,300italic");

*{
  /*border-style: solid;*/
}

.head{
  font-family: 'PT Sans Narrow', sans-serif;
}

.bod{
  font-family: 'Cabin', sans-serif;
}

.bold{
  font-weight: bold;
}

.logo{
  width: 20em;
}

.center{
  text-align: center;
}

a {
  cursor: pointer;
}
#matrizComponent{
  text-align: center;
}
#intro{
  height: 40em;
}
.proyectoInd{
  width: 15em;
  height: 15em;
  display: block;
  position: relative;
}

.tituloP{
  font-weight: bold;
  color:black;
}

.value{
  color:red;
}

.url{
  color:black;
}

.red-font {
  color: rgb(152, 21, 21);
}
